################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug/SDRendering.tlog
/Debug/VecReal.obj
/Debug/vc141.pdb
/Debug/vc141.idb
/Debug/SDRendering.pch
/Debug/SDRendering.obj
/Debug/SDRendering.log
/Debug/SDObject.obj
/Debug/pch.obj
/Debug/CompositeLight.obj
/SDRendering.vcxproj.user
/SDRendering.vcxproj.filters
/SDRendering.vcxproj
